<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net debug="false">
    <appender name="LogBook_Appender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="C:\Logs\ngNetCoreFramework\" />
      <datePattern value="yyyy.MM.dd'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogBook_Appender" />
    </root>
  </log4net>
  <connectionStrings>
    <!-- Home -->
    <add name="TestScriptEntities" connectionString="metadata=res://*/Entity.TestScriptModel.csdl|res://*/Entity.TestScriptModel.ssdl|res://*/Entity.TestScriptModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MT-PC;initial catalog=TestScript;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="IsUsedHTTPS" value="false" />
    <add key="Msg_Info" value="Msg_Info" />
    <add key="Msg_Exception_Biz" value="Msg_Exception.BusinessLogic" />
    <add key="Msg_Exception_Sys" value="Msg_Exception.System" />
    <add key="cors:Origins" value="http://localhost:3000" />
    <add key="cors:Headers" value="*" />
    <add key="cors:Methods" value="*" />
    <add key="url:tokenIssuer" value="http://localhost:1479" />
    <add key="IsWriteTraceOn" value="true" />
    <add key="IsWriteInfoOn" value="true" />
    <add key="IsWriteWarningOn" value="true" />
    <add key="IsWriteErrorOn" value="true" />
  </appSettings>
  <runtime>
    <gcServer enable="true"/>
  </runtime>
</configuration>