@{
    Layout = null;
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<!DOCTYPE html>

<html ng-app="AppRegistration">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/App/RegistrationController.js"></script>
</head>
<body>
    <form name="mainForm" data-ng-submit="sendForm()" data-ng-controller="RegistrationController">
        <div><input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@GetAntiForgeryToken()'" /></div>
        <div><p>{{greeting.text}}, world </p></div>
        <div><button type="submit">Submit</button></div>
    </form>
</body>
</html>
