@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/App/HomeController.js"></script>
<form name="mainForm" data-ng-submit="sendForm()" data-ng-controller="HomeController">    
    <div><p>{{greeting.text}}, world [Home]</p></div>
    <div><button type="submit">Submit</button></div>
</form>

