<!--Medialink Mail Setting-->
<add key="medialink.smtp.host" value="SBS2008.Medialink.local" />
<add key="medialink.smtp.port" value="25" />
<add key="medialink.smtp.domain" value="remote.medialink.com.sg" />
<add key="medialink.smtp.user" value="noreply@medialink.com.sg" />
<add key="medialink.smtp.password" value="Pass1234" />
<add key="medialink.smtp.enableSsl" value="false" />
<add key="medialink.smtp.default" value="noreply@medialink.com.sg" />
<add key="medialink.smtp.ErrorMail" value="intranetsupport@medialink.com.sg"/>
<add key="medialink.smtp.ToSendCountPerBatch" value="30"/>
<add key="medialink.smtp.MaxRetryCount" value="2"/>

<!--Developer Mail Setting [gmail]-->      
<add key="developer.smtp.host" value="smtp.gmail.com" />
<add key="developer.smtp.port" value="587" />
<add key="developer.smtp.domain" value="" />
<add key="developer.smtp.user" value="medialinkpteltd@gmail.com" />
<add key="developer.smtp.password" value="medialink1234" />
<add key="developer.smtp.enableSsl" value="true" />
<add key="developer.smtp.default" value="noreply@medialink.com.sg" />
<add key="developer.smtp.ErrorMail" value="intranetsupport@medialink.com.sg"/>
<add key="developer.smtp.ToSendCountPerBatch" value="3"/>
<add key="developer.smtp.MaxRetryCount" value="2"/>