<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script>
	var app = angular.module('ui.bootstrap.demo', ['ngAnimate', 'ui.bootstrap']);
	
	app.config(['$httpProvider', function ($httpProvider) {
		$httpProvider.interceptors.push(function ($q, $rootScope, $templateCache) {
			var AjaxLoadingCount = 0;
			return {
				request: function (config) {
					console.log("[config.interceptorService] request config", config);					
					
					if(++AjaxLoadingCount === 1) 
						if (config.url.indexOf('template/') == -1) 
							$rootScope.$broadcast('AjaxLoading:Progress');
					
					
					return config || $q.when(config);
				},
				requestError: function (rejection) {
					console.log("[config.interceptorService] requestError rejection", rejection);
					if(--AjaxLoadingCount === 0) $rootScope.$broadcast('AjaxLoading:Finish');
					return $q.reject(rejection);
				},
				response: function (response) {
					console.log("[config.interceptorService] response response", response); 
					if(--AjaxLoadingCount === 0){ $rootScope.$broadcast('AjaxLoading:Finish'); console.log("broadcasted finish");}
					return response || $q.when(response);					
				},
				responseError: function (rejection) {
					console.log("[config.interceptorService] responseError rejection", rejection);
					if(--AjaxLoadingCount === 0) $rootScope.$broadcast('AjaxLoading:Finish');
					return $q.reject(rejection);
				}
			};
		});
	}]);
	
	app.factory('ajaxFactory', function ($http) {

		var ajaxFactory = {};
		ajaxFactory.LoadData = function () {			
			return $http({
				method: "GET",
				url: "http://www.w3schools.com/angular/customers.php",
			});
		};
		return ajaxFactory;
		
	});
	
	app.controller('ModalDemoCtrl', function ($scope, $uibModal, ajaxFactory) {
		$scope.doAjax = function () {
		
			ajaxFactory.LoadData()
            .success(function (data, status, headers, config) {
                console.log("Data vai factory\n", JSON.stringify(data));
				console.log("Loading finish.");				
            }).error(function (data, status, headers, config) {
				
            });
		};
		$scope.openSearchBox = function(){
			console.log("...");
			$uibModal.open({
					animation: true,						
					template: '<div>Search Box</div>'
			});			
		};
	});
	
	app.directive("ajaxLoadingDirective", function ($uibModal) {
		var modalInstance;
		return {
			restrict: 'EA', //E = element, A = attribute, C = class, M = comment   			
			scope: true,
			link: function (scope, elem, attrs) {
				console.log("AjaxLoadingDirective.AjaxLoading:Progress");
				scope.$on("AjaxLoading:Progress", function () {						
					modalInstance = $uibModal.open({
						animation: true,						
						template: '<div>test template</div>'
					});
					console.log("modalInstance", modalInstance);
				});
				return scope.$on("AjaxLoading:Finish", function () {
					console.log("AjaxLoadingDirective.AjaxLoading:Finish");
					if(modalInstance === undefined) return;
					modalInstance.dismiss();
				});
			}
		}
	});
	
	</script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
	<div ng-controller="ModalDemoCtrl">		
		<button type="button" class="btn btn-default" ng-click="doAjax()">Execute Ajax</button>	
		&nbsp;
		<button type="button" class="btn btn-default" ng-click="openSearchBox()">Open Search Box</button>
		<div ajax-loading-directive ></div>
	</div>
  </body>
</html>