@using TestScript.Base.Util;
@{
    ViewBag.Title = "Edit Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Application/OrderModule/OrderEditController.js"></script>
<div class="box-header with-border">
    <h3 class="box-title">Edit Order</h3>
</div>
<form name="form" ng-controller="OrderEditController" role="form">
    <div class="box-body">
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <div ng-show="success" class="alert alert-success">{{success}}</div>

        <!-- OrderId -->
        <div class="form-group">
            <label for="OrderId">OrderId</label>
            <input type="text" name="OrderId" id="OrderId" class="form-control" ng-model="item.OrderId" readonly />
        </div>

        <!-- Description -->
        <div class="form-group" ng-class="{ 'has-error': form.Description.$dirty && (form.Description.$error.required || form.Description.$error.pattern || form.Description.$error.maxlength) }">
            <label for="Description">Description</label>
            <input type="text" name="Description" id="Description" class="form-control" ng-model="item.Description" ng-minlength="1" ng-maxlength="250" ng-pattern="@FormatStandardizer.Client_Name_MultiWord" required />
            <span ng-show="form.Description.$dirty && form.Description.$error.required" class="help-block">Description is required</span>
            <span ng-show="form.Description.$dirty && form.Description.$error.pattern" class="help-block">Invalid Description.</span>
            <span ng-show="form.Description.$dirty && form.Description.$error.maxlength" class="help-block">Maximum length is 250</span>
        </div>

        <!-- OrderDate -->
        <div class="form-group" ng-class="{ 'has-error': form.OrderDate.$dirty && (form.OrderDate.$error.required || form.OrderDate.$error.maxlength) }">
            <label for="OrderDate">Order Date</label>
            <input type="date" name="OrderDate" id="OrderDate" class="form-control" ng-model="item.OrderDate" ng-minlength="1" ng-maxlength="50" required />
            <span ng-show="form.OrderDate.$dirty && form.OrderDate.$error.required" class="help-block">OrderDate is required</span>
            <span ng-show="form.OrderDate.$dirty && form.OrderDate.$error.maxlength" class="help-block">Maximum length is 50</span>
        </div>

    </div>
    <div class="box-footer">
        <button ng-disabled="form.$invalid" class="btn btn-primary" ng-click="Update();">Update</button>
        &nbsp;
        <button class="btn btn-primary" ng-click="OrderByClick();">List</button>
    </div>
</form>