@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div>
            <ul>
                <li>@Html.ActionLink("User Registration", "Register", "Account")</li>
                <li>@Html.ActionLink("User Login", "Login", "Account")</li>
            </ul>
        </div>
    }
</body>
</html>