@using SG50.Base.Util;
@{
    ViewBag.Title = "Create Country";
}
<script src="~/Application/Administration/CountryCreateController.js"></script>
<div class="box-header with-border">
    <h3 class="box-title">Create Country</h3>
</div>
<form name="form" ng-submit="Create()" ng-controller="CountryCreateController" role="form">
    <div class="box-body">
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <div ng-show="success" class="alert alert-success">{{success}}</div>        
        <div class="form-group" ng-class="{ 'has-error': form.Name.$dirty && (form.Name.$error.required || form.Name.$error.pattern || form.Name.$error.maxlength) }">
            <label for="Name">Country Name</label>
            <input type="text" name="Name" id="Name" class="form-control" ng-model="item.Name" ng-minlength="1" ng-maxlength="255" ng-pattern="@FormatStandardizer.Client_Name_MultiWord" required />
            <span ng-show="form.Name.$dirty && form.Name.$error.required" class="help-block">Country Name is required</span>
            <span ng-show="form.Name.$dirty && form.Name.$error.pattern" class="help-block">Invalid Country Name.</span>
            <span ng-show="form.Name.$dirty && form.Name.$error.maxlength" class="help-block">Maximum length is 255</span>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Create</button>
        &nbsp;
        <button class="btn btn-primary" ng-click="CountryByClick();">List</button>
    </div>
</form>