@using SG50.Base.Util;
@{
    ViewBag.Title = "Create Country";
}
<script src="~/Application/Administration/CountryCreateController.js"></script>
<div class="box-header with-border">
    <h3 class="box-title">Create Country</h3>
</div>
<form name="form">
    ............................
</form>