@using SG50.Base.Util;
@{
    ViewBag.Title = "Detail Country";
}
<script src="~/Application/Administration/CountryDetailController.js"></script>
<div class="box-header with-border">
    <h3 class="box-title">Detail Country</h3>
</div>
<form name="form">
    ............................
</form>