@using SG50.Base.Util;
@{
    ViewBag.Title = "Edit Country";
}
<script src="~/Application/Administration/CountryListingController.js"></script>
<div class="box-header with-border">
    <h3 class="box-title">Edit Country</h3>
</div>
<form name="form">
    ............................
</form>