@{
    ViewBag.Title = "Home Page";
}
<script src="~/Application/Administration/CountryController.js"></script>
<div class="box-header with-border">
    <h3 class="box-title">Country</h3>
</div>
<form name="form" ng-submit="Country()" ng-controller="CountryController" role="form" ng-init="init()">
    <div class="box-body">
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <div class="form-group">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><a href="" ng-click="order('Id')">Id</a></th>
                            <th><a href="" ng-click="order('Name')">Name</a></th>
                            <th><a href="" ng-click="order('IsActive')">IsActive</a></th>
                            <th><a href="" ng-click="order('CreatedDate')">CreatedDate</a></th>
                            <th><a href="" ng-click="order('CreatedBy')">CreatedBy</a></th>
                            <th><a href="" ng-click="order('UpdatedDate')">UpdatedDate</a></th>
                            <th><a href="" ng-click="order('UpdatedBy')">UpdatedBy</a></th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" ng-model="search.Id" /></td>
                            <td><input type="text" ng-model="search.Name" /></td>
                            <td><input type="text" ng-model="search.IsActive" /></td>
                            <td><input type="text" ng-model="search.CreatedDate" /></td>
                            <td><input type="text" ng-model="search.CreatedBy" /></td>
                            <td><input type="text" ng-model="search.UpdatedDate" /></td>
                            <td><input type="text" ng-model="search.UpdatedBy" /></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="user in students | filter:paginate" ng-class-odd="'odd'">
                            <td>{{ user.name}}</td>
                            <td>{{ user.age}}</td>
                            <td>{{ user.gender}}</td>
                            <td>
                                <button class="btn">
                                    Edit
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination ng-model="currentPage"
                        total-items="totalItems"
                        max-size="5"
                        boundary-links="true"
                        items-per-page="numPerPage"
                        class="pagination-sm">
            </pagination>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Show</button>
        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
</form>