@{
    ViewBag.Title = "Home Page";
}
<script src="~/Application/Administration/CountryController.js"></script>
<div class="box-header with-border">
    <h3 class="box-title">Country</h3>
</div>
<form name="form" ng-submit="Country()" ng-controller="CountryController" role="form" ng-init="init()">
    <div class="box-body">
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <div class="form-group">
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>SrNo</th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>IsActive</th>
                            <th>CreatedDate</th>
                            <th>CreatedBy</th>
                            <th>UpdatedDate</th>
                            <th>UpdatedBy</th>
                        </tr>
                        <tr>
                            <th><input type="text" ng-model="search.SrNo" /></th>
                            <th><input type="text" ng-model="search.Id" /></th>
                            <th><input type="text" ng-model="search.Name" /></th>
                            <th><input type="text" ng-model="search.IsActive" /></th>
                            <th><input type="text" ng-model="search.CreatedDate" /></th>
                            <th><input type="text" ng-model="search.CreatedBy" /></th>
                            <th><input type="text" ng-model="search.UpdatedDate" /></th>
                            <th><input type="text" ng-model="search.UpdatedBy" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items | offset: currentPage * Country_Criteria_Model.RecordPerPage | limitTo: Country_Criteria_Model.RecordPerPage">
                            <td>{{item.SrNo}}</td>
                            <td>{{item.Id}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.IsActive}}</td>
                            <td>{{item.CreatedDate}}</td>
                            <td>{{item.CreatedBy}}</td>
                            <td>{{item.UpdatedDate}}</td>
                            <td>{{item.UpdatedBy}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <div class="row">
                                    <div class="col-md-10">
                                        <span class="pull-left">
                                            <ul class="pagination">
                                                <li ng-class="prevPageDisabled()">
                                                    <a href ng-click="prevPage()"><span class="glyphicon glyphicon-fast-backward"></span>&nbsp;First</a>
                                                </li>
                                                <li ng-class="prevPageDisabled()">
                                                    <a href ng-click="prevPage()"><span class="glyphicon glyphicon-backward"></span>&nbsp;Previous</a>
                                                </li>
                                                <li ng-repeat="tbl_Pager_To_Client in List_tbl_Pager_To_Client_ByBatchIndex" ng-class="{active: (tbl_Pager_To_Client.BehindTheScenesIndex - 1) == currentPage}" ng-click="setPage(tbl_Pager_To_Client.BehindTheScenesIndex - 1)">
                                                    <a href="#">{{tbl_Pager_To_Client.DisplayPageIndex}}</a>
                                                </li>
                                                <li ng-class="nextPageDisabled()">
                                                    <a href ng-click="nextPage()"><span class="glyphicon glyphicon-forward"></span>&nbsp;Next</a>
                                                </li>
                                                <li ng-class="nextPageDisabled()">
                                                    <a href ng-click="nextPage()"><span class="glyphicon glyphicon-fast-forward"></span>&nbsp;Last</a>
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="col-md-2">
                                        <span class="pull-right">
                                            <ul class="pagination">
                                                <li><strong>100</strong> of <strong>100000</strong></li>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>            
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Show</button>
        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
</form>