<!DOCTYPE html>
<html ng-app="Application_Root">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/App/Application_Root.js"></script>    
    @functions{
        public string GetAntiForgeryToken()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }
</head>
<body>
    <div id="hiddenAntiForgery"><input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@GetAntiForgeryToken()'" /></div>
    <div id="header">
        Header ...
    </div>
    <div id="body">
        @RenderBody()
    </div>
    <div id="footer">
        Footer ...
    </div>
</body>
</html>